<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../dist/output.css" rel="stylesheet" />
    <title>Wordle</title>
  </head>
  <body>
    <%-include("./partials/header")%> <% highscoreDetails.forEach((score) => {
    %>
    <div>
      <p>Name: <%= score.name %></p>
      <p>Time: <%= score.time %></p>
      <p>Guesses: <%= score.guesses %></p>
      <p>Word Length: <%= score.wordLength %></p>
      <p>Exclude Unique Letters: <%= score.excludeUniqueLetters %></p>
    </div>
    <% }); %>
    <a href="/highscore"><button>Se alla highscores</button></a>
  </body>
</html>
