<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../dist/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <title>Wordle</title>
  </head>
  <body>
    <main
      class="font-montserrat mt-0 h-full p-0 box-border scroll-smooth bg-dark text-white"
    >
      <%-include("./partials/header")%>
      <div class="h-screen overflow-y-scroll">
        <div
          class="pb-7 flex justify-center items-center flex-col md:grid md:grid-cols-3 md:gap-4"
        >
          <% highscoreDetails.forEach((score) => { %>

          <div
            class="flex items-center gap-3 lg:gap:4 m-7 p-2 md:p-4 border-2 border-white rounded-lg hover:scale-103 duration-200 ease-in"
          >
            <div>
              <p>Name: <%= score.name %></p>
              <p>Time: <%= score.time %></p>
              <p>Guesses: <%= score.guesses %></p>
              <p>Word Length: <%= score.wordLength %></p>
              <p>Exclude Unique Letters: <%= score.excludeUniqueLetters %></p>
            </div>
          </div>

          <% }); %>
        </div>
        <div class="flex items-center justify-center mb-9">
          <a class="button" href="/highscore"
            ><button>Se alla highscores</button></a
          >
        </div>
      </div>
    </main>
  </body>
</html>
